<h1>Bookmarks <%= link_to "[Add]", new_bookmark_path %></h1>
<% if @bookmarks.present? %>
  <table class="table table-striped">
    <tr>
      <td class="col-md-1">Number</td>
      <td class="col-md-4">Title</td>
      <td class="col-md-3">Url</td>
      <td class="col-md-3">Shortening</td>
    </tr>

    <% Array(@bookmarks).each.with_index(1) do |bookmark, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= link_to bookmark.title, bookmark %></td>
      <td><%= bookmark.url %></td>
      <td><%= bookmark.shortening %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <%= "No bookmarks found by request \"#{params[:query]}\"" %>
<% end %>
